* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin: 0 auto;
    width: 100%;
    
}
header{   
    size: 5px;
    background-color: teal;
}
header h1{
    float: left;
    padding: 15px 25px;
}
header ul{
    float: right;
}
header ul li {
    display: inline-block;
}
header ul li {
    padding: 25px 20px;
    display: inline-block;
}